doc/parralelization/main.pdf
*.aux
*.bbl
*.blg
doc/parralelization/*.log
*.gz
settings.json
*.o
src/lola
*.Po
*.Plo
*.Tpo
config.status
config.log
*Makefile
src/config.h
autom4te.cache
m4/l*.m4
src/config.h.in~
build-aux/ltmain.sh
utils/killer
utils/listener
utils/pyscript*
lola2.mk
doc/lola.log
*.dirstamp
*.old
*.timestamp
tests/package.m4
*dfsTime.txt
.vscode/*
src/perf.data