doc/parralelization/main.pdf
*.aux
*.bbl
*.blg
doc/parralelization/*.log
*.gz
settings.json
.vscode/c_cpp_properties.json
*.o
src/lola
*.Po
.vscode/tasks.json
config.status
config.log
tests/package.m4
utils/killer
utils/listener
Makefile
.vscode/launch.json
src/config.h
autom4te.cache
m4/l*.m4
src/config.h.in~
build-aux/ltmain.sh