doc/parralelization/main.pdf
*.aux
*.bbl
*.blg
doc/parralelization/*.log
*.gz
settings.json
.vscode/c_cpp_properties.json
*.o
src/lola
*.Po
*.Tpo
.vscode/tasks.json
config.status
config.log
*Makefile
.vscode/launch.json
src/config.h
autom4te.cache
m4/l*.m4
src/config.h.in~
build-aux/ltmain.sh
utils/killer
utils/listener
utils/pyscript*
lola2.mk
doc/lola.log
*.dirstamp
*.old
*.timestamp

